.container {
    border: 5px black;
    padding: 0px;
    /* display: flex; */
    height: 100vh;
    background-color: cadetblue;
}

h3 {
    font-size: 45px;
    font-family: system-ui;
    font-weight: bold;    
    border-bottom: 3px solid #b3b6bb;
    margin: 0px;
    margin-bottom: 50px;
}

h3.darkMode_true {
    color: #b3b6bb;
}

h3.darkMode_false{
    color: #121621;
}

.sub-heading-color-darkMode_true {
    color: #929495 !important;
    font-weight: 500;
}

.sub-heading-color-darkMode_false{
    color: #434444;
    font-weight: 500;
}

h6 {
    font-family: system-ui;
    font-size: 30px;
    padding: 0px;
    margin: 10px;
    text-align: left;
}

h6.darkMode_true {
    color: #57585a;
}

h6.darkMode_false {
    color: #434444;
}

a {
    text-decoration: none;
    font-family: system-ui;
    font-size: 15px;
    font-weight: 600 !important;
}

a.darkMode_false {
    color: #1b242f
}

a.darkMode_true {
    color: #ffffff;
}

p {
    color: #04c2c9;
    font-family: system-ui;
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
}

.block-wrapper1-color-darkMode_false {
    background-color: #f5f5f5;
}

 /* true */
.block-wrapper1-color-darkMode_true {
    background-color: #1a2131;
}

.block-wrapper2-color-darkMode_false {
    background-color: white;
}

 /* true */
.block-wrapper2-color-darkMode_true {
    background-color: #212736;
}


.block-color-darkMode_false {
    color: #121621;
    background-color: #cad0d9;
}

.block-color-darkMode_true {
    color: #e7e8e9;
    background-color: #121621
}

.block-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
}

.block-content {
    padding: 20px;
    width: 50%;
    margin: 5px;
    border-radius: 10px;
}

.email {
    color: #888989;;
}

.socail-media {
    width: 60px;
    height: 60px;
    background-color: #262f38;
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-weight: 1000;
    color: white;
    transition: .3s;
}

.socail-media:hover {
    background-color: rgb(116 117 119);
}


@media only screen and (max-device-width: 480px) {
    .home-content-darkMode_false, .home-content-darkMode_true {
        padding: 90px !important;
    }
    .block-content {
        width: 100%;
    }
    h3 {
        font-size: 35px
    }
  }