p {
        font-family: system-ui;
        text-align: center;
}


p.darkMode_false{
    color: #434444;
}

b.darkMode_true{
    color: white;
}

b.darkMode_false{
    color: #383c3c;
}

.lin {
    cursor: pointer;
    color:#04c2c9;
}