.filler-darkMode_true {
    width: 100%;
    /* height: 100%; */
    background-color: #252934;
    /* background-image: url("../../assets/filler.jpg"); */
}

.filler-darkMode_false {
    width: 100%;
    /* height: 100%; */
    background-color: #dbdde4;
    /* background-image: url("../../assets/filler.jpg"); */
}

.home-content-darkMode_true {
    color: #ffffff;
    padding: 182px;
    text-align: center;
    font-family: monospace;
    height: 100vh;
    border-bottom: 3px solid #04c2c9;
}

.home-content-darkMode_false {
    color: #1b242f;
    padding: 182px;
    text-align: center;
    font-family: monospace;
    border-bottom: 3px solid #04c2c9;
}


.home-script {
    font-size: 40px;
    padding: 20px;
}

button {
    background-color: transparent;
    height: 50px;
    width: 170px;
    margin-top: 33px;
    cursor: pointer;
    transition: 0.3s;
    /* transition: transform .8s ease-in-out; */
}


button.darkMode_true{
    border: 2px solid #fff;
}

button.darkMode_false {
    border: 2px solid #1b242f;
}

button:hover {
    background-color: #04c2c9;
    border: 2px solid #04c2c9;
    /* transform: rotate(360deg); */
}

@media only screen and (max-device-width: 480px) {
    .home-content {
        height: 100vh;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home-script {
        font-size: 16pt;
        line-height: 20pt;
        margin: 0 0 20px 0;
        pointer-events: none;
        padding: 0px;
    }
}
