.contact-button {
    color: white;
    font-family: system-ui;
    font-weight: 600;
    font-size: 20px;
    margin: 15px;
}


button.darkMode_true{
    color: #fff;
}

button.darkMode_false {
    color: #1b242f;
}
